html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.d-flex {
    display: flex;
}

.jestify {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrapper {
    max-width: 1190px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header_top {
    background-color: #222220;
}

.header_top__grid {
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav_menu {
    column-gap: 25px;
}

.nav_menu__item a {
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    transition: color .5s;
}

.nav_menu__item a:hover {
    color: #CB3B48;
}

.nav_menu__item:last-child {
    position: relative;
}

.drop_down__menu {
    display: none;
    background: #222220;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0, 5);
    border-radius: 5px;
    padding: 11px 9px;
    position: absolute;
    width: 172px;
    box-sizing: border-box;

}

.nav_menu__item:last-child:hover .drop_down__menu {
    display: block;
}

.drop_down__item {
    padding: 5px 0;
    border-bottom: 2px solid #2F2F2F;
}

.drop_down__item:last-child {
    border: none;
}

.header_top__right {
    column-gap: 42px;
}

.header_top__button__call {
    width: 50px;
    height: 50px;
    background: #1B1B1B;
    box-shadow: 0 0 15px rgba(189, 45, 67, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s;
}

.header_top__button__call:hover {
    background: #CB3B48
}

.heder_top__buttons {
    column-gap: 42px;
}

.header_top__button__call i, .filter_button span i {
    color: white;
    font-size: 25px;
}

.header_top__button {
    background: #CB3B48;
    border: 1px solid #CB3B48;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 18px;
    transition: all .3s;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header_top__button:hover {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.news {
    background: url("../img/news_bg.png") no-repeat 50%/cover #CB3B48;
    padding: 40px 50px;
}

.news_grid h2 {
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 33px;
    letter-spacing: 1px;
}

.header_top__logo a {
    text-decoration: none;
    cursor: pointer;
}

.news_slider {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
}

.news_slider__item img {
    width: 100%;
}

.arr_left i,
.arr_right i {
    font-size: 50px;
    position: absolute;
    cursor: pointer;
    transition: color .5s;
}

.arr_left,
.arr_right {
    position: absolute;
    top: 40%;
}

.arr_left {
    left: -25px;
}

.arr_right {
    right: 0;
}

.arr_left i:hover,
.arr_right i:hover {
    color: white;
}

.button_mobile {
    display: none;
    background: #1B1B1B;
    box-shadow: 0 0 12px rgba(189, 45, 67, 0.5);
    border-radius: 6px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.button_mobile span {
    background-color: white;
    width: 15px;
    height: 2px;
    position: relative;
    display: block;
}

.button_mobile span::before,
.button_mobile span::after {
    content: '';
    width: 22px;
    height: 100%;
    background-color: white;
    display: block;
    position: absolute;
    left: -3px;
}

.button_mobile span::before {
    top: -8px;
}

.button_mobile span::after {
    bottom: -8px;
}

.background_black {
    background-color: #222220;
    width: 100%;
    height: 1430px;
    position: relative;
}

.filter_h2_wrap .filter_h2_first,
.filter_h2_wrap .filter_h2_second {
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.filter_h2_wrap {
    column-gap: 39px;
    border: none;
}

.filter_h2_wrap h2, .filter_h2_second h2 {
    margin-top: 30px;
}


.filter_icons {
    flex: 4;
}

.search_window {
    flex: 1;
}

.filter_icons_line1,
.filter_icons_line2 {
    column-gap: 53px;

}

.filter_icons_line1 .icons,
.filter_icons_line2 .icons {
    font-size: 18px;
    color: #FFFFFF;
}

.filter_button_row {
    display: flex;
    justify-content: flex-start;
    width: 155px;
    height: 50px;
    margin: 34px 32px 34px 0px;
}

.filter_button {
    width: 100%;
    color: white;
    background: #CB3B48;
    border: 1px solid #CB3B48;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
    letter-spacing: 1px;
}


.img_picture img {
    width: 380px;
}

.images_first_line, .images_second_line, .big_pictures {
    column-gap: 25px;
    margin-bottom: 35px;
    cursor: pointer;
}

.img_picture_full img {
    width: 380px;
}

.show_more_button {
    text-align: center;
}

.show_more_button button {
    width: 194px;
    height: 47px;
    background: #CB3B48;
    box-shadow: 0px 0px 14.9668px #CB3B48;
    border-radius: 100px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.footer {
    background: url("../img/background.png") no-repeat 100%/cover;
    width: 100%;
    height: 158px;
    
}

.footer_offert a p {
    font-size: 14px;
    text-decoration-line: underline;
    color: #9C9C9C;

}